<div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
        <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" width="40" height="40">
            </a>
            <p class="text-muted">© 2022 CitiThrive</p>
        </div>

        <div class="col">

        </div>

        <div class="col">
            <h5>咨询动态</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">资讯搜索</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">企业动态</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">行业动态</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>ESG评估</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ESG评级</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ESG教育</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ESG产品</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">公司选址</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">选股推荐</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>团队介绍</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">团队介绍</a></li>
            </ul>
        </div>
    </footer>
</div>