<link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet" crossorigin="anonymous">
<header class="p-3 bg-dark text-white sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">

                <img src="{{ url_for('static', filename='images/logo.svg') }}" width="40" height="40">
                <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg> -->

            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('homepage.index') }}" class="nav-link px-2 link-secondary">主页</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2 link-secondary" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        资讯搜索
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">资讯搜索</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2 link-secondary" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ESG评估
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">ESG评级</a>
                        <a class="dropdown-item" href="#">ESG教育</a>
                        <a class="dropdown-item" href="#">ESG产品</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">公司选址</a>
                        <a class="dropdown-item" href="#">选股推荐</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2 link-secondary" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        企业动态
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">企业动态</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2 link-secondary" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        行业动态
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">行业动态</a>
                    </div>
                </li>
                <li><a href="#" class="nav-link px-2 link-secondary">团队介绍</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="搜索......" aria-label="Search">
            </form>

            {% if current_user.is_authenticated %}
            <div class="text-end">
                <a href="{{ url_for('users.account') }}" class="btn btn-outline-light me-2">{{ current_user.username }}</a>
                <a href="{{ url_for('users.logout') }}" class="btn btn-warning">登出</a>
            </div>
            {% else %}
            <div class="text-end">
                <a href="{{ url_for('users.login') }}" class="btn btn-outline-light me-2">登陆</a>
                <div class="btn-group">
                    <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="btn btn-warning dropdown-toggle">注册</a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <a class="dropdown-item" href="{{ url_for('users.register_business') }}">企业账号注册</a>
                        <a class="dropdown-item" href="{{ url_for('users.register_consumer') }}">个人账号注册</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>