{% extends "base.html" %}
{% block content %}


<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">登陆账号</h5>
                    <form action="" method="post">
                        {{ form.csrf_token }}

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger text-center">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        <div class="row">
                            <div class="btn-group w-75 mx-auto mb-3" role="group" aria-label="Basic radio toggle button group">
                                {% for radio in form.accountType %}
                                {{ radio(class="btn-check") }}
                                {{ radio.label(class='btn btn-outline-primary') }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-floating mb-3 required">
                            {{ form.username(class="form-control", placeholder="username") }}
                            {{ form.username.label(class="control-label") }}

                            {% if form.username.errors %}
                            <div class="alert alert-warning" role="alert">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-floating mb-3 required">
                            {{ form.password(class="form-control", placeholder="password") }}
                            {{ form.password.label(class="control-label") }}

                            {% if form.password.errors %}
                            <div class="alert alert-warning" role="alert">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <!-- <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">
                                Remember password
                            </label>
                        </div> -->
                        <div class="d-grid">
                            {{ form.submit(class="btn btn-primary btn-login text-uppercase fw-bold") }}
                        </div>
                        <hr class="my-4">
                    </form>
                    <div class="row">
                        <div class="d-grid col text-uppercase fw-bold">
                            <a class="btn btn-2b" href="{{ url_for('users.register_business') }}">
                                企业账号注册
                            </a>
                        </div>
                        <div class="d-grid col text-uppercase fw-bold">
                            <a class="btn btn-2c" href="{{ url_for('users.register_consumer') }}">
                                个人账号注册
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
