form.buttonform {
    display: inline;
}

@media all and (min-width: 992px) {
	.nav .nav-item .dropdown-menu{ display: none; }
	.nav .nav-item:hover .dropdown-menu{ display: block; }
	.nav .nav-item .dropdown-menu{ margin-top:0; }
}